:root {
    --player-height: 32px;

    --shadow: rgba(0, 0, 0, .16);

    --button-hover: rgba(0, 0, 0, .16);

    --border-color: rgba(0, 0, 0, .10);

    --primary-color: rgba(0, 0, 0, .87);
    --secondary-color: rgba(0, 0, 0, .56);

    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F5F5;
}

body {
    /* padding-bottom: var(--player-height); */
}
