:root {
    --red: rgba(244, 67, 54, .87);
    --shadow: rgba(0, 0, 0, .16);
    --green: rgba(0, 230, 118, .87);
    --player-height: 120px;
}

body {
    padding-bottom: var(--player-height);
}

.player-layout {
    width: 100%;
    height: 100%;
    padding-bottom: var(--player-height);

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;

    pointer-events: none;
}

.player {
    width: 100%;
    height: var(--player-height);

    position: fixed;
    bottom: 0;
    left: 0;
    
    pointer-events: all;
    cursor: pointer;

    background-color: #FFFFFF;
    box-shadow: 0px -3px 6px var(--shadow);
}
    audio {
        width: 100%;
    }
    
    .player .album-art {
        width: 32px;
        height: 32px;
    }

.playlist-layout {
    width: 100%;
    height: 100%;
    position: relative;
}

.playlist {
    width: 100%;
    height: 100%;
    padding-top: 56px;
    max-height: 0px;

    overflow: hidden;

    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    background-color: #F5F5F5;
    box-shadow: 0px -3px 6px var(--shadow);

    opacity: 0;
    pointer-events: none;
    transition: max-height .2s ease,
                opacity .2s ease;
}
[playlist] .playlist {
    max-height: 60%;
    opacity: 1;
    pointer-events: all;
}

.playlist-header {
    width: 100%;
    height: 56px;

    position: absolute;
    top: 0;
    left: 0;

    background-color: #fff;
    box-shadow: 0px 3px 6px var(--shadow);
}

.playlist-list {
    width: 100%;
    height: 100%;
    padding-bottom: 56px;
    overflow: auto;
}

.playlist-sync {
    width: 72px;
    height: 32px;
    display: flex;
}

.playlist-sync .save,
.playlist-sync .load,
.playlist-sync .saved {
    width: 32px;
    height: 32px;
    padding: 4px;

    display: block;

    flex-grow: 0;
    flex-shrink: 0;

    border-radius: 2px;
    background-color: transparent;

    cursor: pointer;

    transition: background-color .2s ease;
}
.playlist-sync .save {margin-right: 8px;}
.playlist-sync .saved {display: none}

.playlist-sync .save:hover,
.playlist-sync .load:hover {background-color: var(--shadow)};

.playlist-sync .saved {display: none}
[saved] .playlist-sync .save  {display: none}
[saved] .playlist-sync .load  {display: none}
[saved] .playlist-sync .saved {display: block}


.playlist .item {
    width: 100%;
    height: 48px;
    padding: 16px;
    border-bottom: 1px solid #EfEfEF;
    overflow: hidden;

    display: block;

    text-overflow: ellipsis; 
    white-space: nowrap; 

    font-size: 16px;
    line-height: 1;
    background-color: #FFF;

}

.playlist .item[playing] {color: var(--green);}