:root {
    --red: rgba(244, 67, 54, .87);
    --shadow: rgba(0, 0, 0, .16);
}

body {
    /* Header */
    padding-top: 56px;
}

.header-layout {
	width: 100%;
	height: 56px;
	
	position: fixed;
	top: 0;
    left: 0;
    z-index: 3;

	display: flex;
	flex-direction: row;
	align-items: center;

	background-color: #FFFFFF;
	color: var(--black);
    box-shadow: 0px 3px 6px var(--shadow);
    
    transition: background-color .2s ease;
}

[select-mode] .header-layout {
    background-color: #F5F5F5;
}

.header-layout svg {
	fill: var(--black);
}

	.header .dynamic-icon {
		width: 32px;
		height: 32px;
		margin-left: 12px;
		padding: 4px;

		flex-grow: 0;
		flex-shrink: 0;
		
		cursor: pointer;
	}

	.header .title {
		width: 100%;

		flex-shrink: 1;

		font-size: 18px;
		line-height: 1;
    }

        .header .path {
            display: flex;
            align-items: center;
        }

            .path .parent,
            .path .current {
                padding: 4px;

                cursor: pointer;
                display: block;

                border-radius: 2px;

                transition: background-color .2s ease;
            }

            .path .parent:hover {
                background-color: rgba(0, 0, 0, .1);
            }

    .header .selected-items {
		display: none;
	}

	[select-mode] .header .path {display: none;}
	[select-mode] .header .selected-items {display: block;}

    .header .drop-down {
        width: 32px;
        height: 32px;
        padding: 4px;

        position: fixed;
        top: 12px;
        right: 12px;

        display: block;

        cursor: pointer;
    }
/* HEADER END */

/* BODY START */

.body-layout {
	height: 100%;

	overflow-x: hidden;
	overflow-y: auto;
	display: block;

	list-style: none;
}

ul.file-list {
    width: 100%;
    height: 100%;

    display: block;
}

.file-list .item {
    width: 100%;
    height: 48px;
    padding-left: 0px;
    border-bottom: 1px solid #EFEFEF;

    display: flex;
    position: relative;

    background-color: rgb(102, 187, 106);

    cursor: pointer;
    transition: padding-left .2s ease;
}
.file-list .item[selected] {padding-left: 48px;}

.file-list .item[secured] {color: var(--red);}
.file-list .item[secured] svg {fill: var(--red);}


    .file-list .selected-icon {
        width: 24px;
        height: 24px;

        position: absolute;
        top: 12px;
        left: 12px;

        opacity: 0;

        transition: opacity .2s ease;
    }
    .file-list [selected] .selected-icon {opacity: 1;}

        .file-list .item-layout {
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            background-color: rgb(255, 255, 255);
        }

            .file-list .primary-icon {
                margin: auto 24px;

                flex-grow: 0;
                flex-shrink: 0;
            }

            .file-list .text {
                width: 100%;
                overflow: hidden;

                flex-grow: 1;
                flex-shrink: 1;

                text-overflow: ellipsis; 
                white-space: nowrap; 

                display: block;
            }

            .file-list .secondary-icon {
                width: 24px;
                height: 24px;
                margin: auto 16px;
                
                flex-grow: 0;
                flex-shrink: 0;

                display: none;
            }
            .file-list .playlist-add {display: block;}
            .file-list .playlist-remove {display: none;}

            .file-list [added] .playlist-add {display: none;}
            .file-list [added] .playlist-remove {display: block;}


