:root {
    --red: rgba(244, 67, 54, .87);
    --shadow: rgba(0, 0, 0, .16);
}

body {
    /* Header */
    padding-top: 56px;
}

.header-layout {
	width: 100%;
	height: 56px;
	
	position: fixed;
	top: 0;
    left: 0;
    z-index: 3;

	display: flex;
	flex-direction: row;
	align-items: center;

	background-color: #FFFFFF;
	color: var(--black);
    box-shadow: 0px 3px 6px var(--shadow);
    
    transition: background-color .2s ease;
}

[select-mode] .header-layout {
    background-color: #F5F5F5;
}

.header-layout svg {
	fill: var(--black);
}

	.dynamic-icon {
		width: 32px;
		height: 32px;
		margin-left: 12px;
		padding: 4px;

		flex-grow: 0;
		flex-shrink: 0;
		
		cursor: pointer;
	}

	.title {
		width: 100%;

		flex-shrink: 1;

		font-size: 18px;
		line-height: 1;
    }

        .path {
            display: flex;
            align-items: center;
        }

            .path a {
                padding: 4px;

                cursor: pointer;
                display: block;

                border-radius: 2px;

                transition: background-color .2s ease;
            }

            .path a:hover {
                background-color: rgba(0, 0, 0, .1);
            }

	.selected-items {
		display: none;
	}

	[select-mode] .path   {display: none;}
	[select-mode] .selected-items {display: block;}


ul.list {
    width: 100%;
    height: 100%;

    display: block;
}

.list li.item {
    width: 100%;
    height: 48px;
    padding-left: 0px;
    border-bottom: 1px solid #EFEFEF;

    display: flex;
    position: relative;

    background-color: rgb(102, 187, 106);

    cursor: pointer;
    transition: padding-left .2s ease;
}

.list li.item[selected] {
    padding-left: 48px;
}

[secured] .list li.item { color: var(--red); }
[secured] .list li.item svg { fill: var(--red); }


img.check-icon {
    width: 24px;
    height: 24px;

    position: absolute;
    top: 12px;
    left: 12px;

    opacity: 0;

    transition: opacity .2s ease;
}
[selected] img.check-icon {
    opacity: 1;
}

a.item-layout {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    background-color: rgb(255, 255, 255);
}

.primary-icon {
    margin: auto 24px;

    flex-grow: 0;
    flex-shrink: 0;
}

.secondary-icon {
    margin: auto 16px;
    
    flex-grow: 0;
    flex-shrink: 0;
}



.body-layout {
	height: 100%;

	overflow-x: hidden;
	overflow-y: auto;
	display: block;

	list-style: none;
}