* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	text-decoration: none;

	--black: rgba(0, 0, 0, .87);
	--black-inactive: rgba(0, 0, 0, .56);

	--white: rgba(255, 255, 255, .87);
}

html, body {
	width: 100%;
	height: 100%;
	
	background-color: #F5F5F5;
	color: var(--black);
}

input.hidden {
	position: fixed;
	opacity: 0;
	pointer-events: none;
}

.body-layout {
	height: 100%;
	padding-top: 56px;

	overflow-x: hidden;
	overflow-y: auto;
	display: block;

	list-style: none;
}

