* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: transparent;
	color: inherit;
	text-decoration: none;
}

html, body {
	width: 100%;
	height: 100%;
	color: rgba(0, 0, 0, .87);
}

input.hidden {
	position: fixed;
	opacity: 0;
	pointer-events: none;
}

.header-layout {
	width: 100%;
	height: 56px;
	padding: 0 16px;
	
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: row;
	align-items: center;

	background-color: #000;
	color: rgba(255, 255, 255, .87);
}

.header-layout svg {
	fill: rgba(255, 255, 255, .87);
}

.body-layout {
	height: 100%;
	padding-top: 56px;

	overflow-x: hidden;
	overflow-y: auto;
	display: block;

	list-style: none;
}