* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	
	box-sizing: border-box;
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	line-height: 1;
	text-decoration: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
	user-select: none;

	font-family: 'Roboto', 'sans-serif';
	font-weight: 500;
}

html, body {
	width: 100%;
	height: 100%;
}

input.hidden {
	position: fixed;
	opacity: 0;
	pointer-events: none;
}

:root {
    --shadow: rgba(0, 0, 0, .16);

    --button-hover: rgba(0, 0, 0, .16);

    --border-color: rgba(0, 0, 0, .10);

    --primary-color: rgba(0, 0, 0, .87);
    --secondary-color: rgba(0, 0, 0, .56);

    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F5F5;
}

body {
    background-color: var(--secondary-background-color);
    color: var(--primary-color);

    padding-top: 56px;
}

.hitbox {
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .2s ease;
}
.hitbox:hover {background-color: var(--button-hover);}

.header-layout {
    width: 100%;
    height: 56px;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--primary-background-color);
    box-shadow: 0 3px 6px var(--shadow);
}

.header {color: var(--primary-color);}
.header svg {fill: var(--secondary-color);}

.header .primary-button {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 4px;

    flex-grow: 0;
    flex-shrink: 0;
}

.header .secondary-button {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    padding: 4px;
    
    flex-grow: 0;
    flex-shrink: 0;
}

.header .title {
    width: 100%;

    flex-grow: 1;
    flex-shrink: 1;
}